html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 12px;
	overflow: hidden;
	
	font-family: "Lucida Grande", Helvetica, Arial, "Courier New";
}

.global-loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,0,0,.5);
	z-index: 5000;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 24px;
	
	padding-left: 10px;
	
	background: #cad1c1;
	background: #514269;	/* lilla */
	background: #B1A992;
	background: rgba(0, 0, 0, .25);	
	border-bottom: 1px solid #000;
	z-index: 100;
	color: #fff;
	font-size: 14px;
	
	text-align: left;
	
	z-index: 1000;
}

	.header h1 {
		padding-top: 3px;
		font-weight: normal;
	}

.name-form {
	display: none;

	position: fixed;
	top: 10px;
	right: 10px;
	width: 120px;
	z-index: 200;
}

	.name-form input {
		width: 110px;
	}

	
.connected-clients-container {
	position: fixed;
	top: 24px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 200;
}
	
	.connected-clients h1 {
		padding: 8px 10px 5px;
		border-bottom: 1px rgba(0,0,0,.2) solid;
	}

	.connected-users-counter {
		float: right;
	
		padding: 2px 4px;
		display: inline-block;
		font-size: 11px;
		font-weight: normal;
		margin: 0 5px;
	}

	.connected-clients .client-name {
		position: absolute;
		color: #fff;
	}

.app-container {
	position: fixed;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eee;
	overflow: auto;
	padding: 20px 10px;
	font-size: 20px;
	color: #999;

	z-index: 100;
}
	.app-container small {
		display: block;
		font-size: 14px;
		margin-top: 20px;
	}

.app-container .raw {
	height: 2em;
}

.map-wrapper {
	background: #000;
	z-index: 100;
}

#map {
	position: fixed;
	background: #312019;
	background: #000;
	
	top: 0;
	left: 0;
	right: 0;

	height: 100%;
	
	z-index: 500;
}

	.nastik {
		position: absolute;
		z-index: 1000;
		width: 10px;
		height: 10px;
		background-color: #B9232E;
	}